<div class="attendee-detail">
  <div class="name">
    <h2>name: <%= @attendee.name %> </h2>
  </div>
  <div class="profile">
    <h2>profile:</h2>
    <ul>
      <li>- <a href="<%= @attendee.web %>"><%= @attendee.web %></a></li>
      <li>- <a href="https://twitter.com/<%= @attendee.twitter %>"><%= @attendee.twitter %></a></li>
    </ul>

    <div class"events">
      <h2>events:</h2>
      <ul>
        <% @attendee.events.each do |event| %>
          <li>
            <%= event %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
