<div class="attendee-detail">
  <div class="avatar">
    <img src="<%= @attendee.avatar %>" />
  </div>
  <div class="name">
    <span class="property">name: </span><span class="value"><%= @attendee.name %></span>
  </div>
  <div class="profile">
    <div class="property">profile:</div>
    <ul>
      <li>- <a href="<%= @attendee.web %>"><span class="value"><%= @attendee.web %></span></a></li>
      <li>- <a href="https://twitter.com/<%= @attendee.twitter %>"><span class="value"><%= @attendee.twitter %></span></a></li>
    </ul>

    <div class"events">
      <div class="property">events:</div>
      <ul>
        <% @attendee.events.each do |event| %>
          <li>
            - <span class="value"><%= event %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
