<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "hasbeen.at" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <h1>hasbeen.at</h1>
      <h3>events we have been at</h3>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
